<nav>
  <div class="nav-inner">
    {% for item in site.data.navigation.primary %}
    {% assign active_path = item.active_path | default: item.url %}
    {% assign is_active = false %}
    {% if item.url == "/" %}
      {% if page.url == "/" or page.url == "/index.html" %}
        {% assign is_active = true %}
      {% endif %}
    {% elsif page.url contains active_path %}
      {% assign is_active = true %}
    {% endif %}
    <a href="{{ item.url | relative_url }}"{% if is_active %} class="active"{% endif %}>{{ item.label | escape }}</a>
    {% endfor %}
  </div>
</nav>
